.ng-valid[required]{    border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
    border-left: 5px solid #a94442; /* red */
}
.email-invalid {
    border-left: 5px solid #42A948; /* greeen */
}
.email-valid {
    border-left: 5px solid #a94442; /* red */
}
.registration>a {
    cursor: pointer;
}
div{
	margin-top: 50px;
}
.container{
	width:30%;
	
}
#password{
	margin-top: 8px;
}
form{
	border:1px solid black;
	border-radius: 5%;
	background-color: #f2f2f2;
}
.login-wrapper{
	width:90%;
	margin:auto;
	
}
.form-login-heading{
	text-align:center;
	
}
.registration{
	text-align:center;
}