.calendar__content {
    display: block;
    border-bottom: solid 1px #dde3e6;
    padding-top: 65px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 220px;
    overflow: hidden;
    background-color: #f5f7f8;
}

.calendar__content:first-of-type > div > span {
    line-height: 1.5em;
} 

.calendar__content h2 {
    margin-top: 0;
}

.implementation {
    background-color: #FFFFFF;
    overflow: visible;
}
.implementation > h3 {
    margin-top: 30px;
    color: #5C666A;
}
.implementation h3.first {
    margin-top: 0px !important;
}
.implementation h4 {
    color: #5C666A;
}
