<section class="page-content wall">
  <div class="container-fluid">
    <div class="col-md-4 wall_image">
      <img src="{{imageLink}}/assets/img/my_house.png" alt="image"  class="wall_image"/>
    </div>
    <div class="col-md-6">
      <h3>District</h3>
      <hr>
      <div>
        <span class="wall_title"> Headmaster: </span>
        <span> {{resData?.firstName}} {{resData?.lastName}}</span>
      </div>
      <div>
        <span class="wall_title">Creation date: </span>
        <span>{{resData?.house.osbb.creationDate | date:["fullDate"]}}</span>
      </div>
      <div>
        <span class="wall_title">Address: </span>
        <span>
          {{resData?.house.street.city.region.name}} {{resData?.house.street.city.name}}
          {{resData?.house.street.name}} {{resData?.house.numberHouse}}
        </span>
      </div>
      <div>
        <span class="wall_title">District: </span>
        <span>{{resData?.house.osbb.district.name}}</span>
      </div>
    </div>
  </div>
</section>
