<div class="row registration-sucess">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center panel panel-success">
            <div class="panel-heading"><h3>{{'registration_success'}}</h3></div>
            <div class="panel-body">
                <span class="glyphicon glyphicon-ok-circle fa-5x"></span>
                <br>
                <p>{{'registration_success_text'}}</p>
            </div>
            <div class="panel-footer"><a routerLink="/login">{{'return_to_sign_in'}}</a></div>
        </div>
        <div class="col-md-4"></div>
    </div>
