<div class="page-content ticket" >
  <div class="container-fluid">
    <breadcrumb [header]="title"></breadcrumb>
    <button class="btn btn-success"
            (click)="addForm.openAddModal()">
      {{'create_ticket' | capitalize}}
    </button>
    <ticket-add-form #addForm></ticket-add-form>

    <div class="col-md-2 pull-right ticket_search-box">
      <input type="search"
             (keyup)="findTicketByName(findName.value)"
             #findName
             class="form-control input-sm"
             placeholder="find..."
             aria-controls="example">
    </div>
  </div>
  <br>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="table-size-large">
          <i class="fa fa-bullhorn"></i>
            {{'nameTicket' | capitalize}}
          <a (click)="('name')">
            <span class="fa fa-fw fa-sort"></span>
          </a>
        </th>
        <th class="table-size-medium">
          <i class=" fa fa-edit"></i>
          {{'authorTicket' | capitalize}}
          <a (click)="('user')">
            <span class="fa fa-fw fa-sort"></span>
          </a>
        </th>
        <th class="table-size-big">
          <i class=" fa fa-edit"></i>
            {{'dateTicket' | capitalize}}
          <a (click)="('time')">
            <span class="fa fa-fw fa-sort"></span>
          </a>
        </th>
        <th class="table-size-medium">
          <i class=" fa fa-edit"></i>
            {{'answer' | capitalize}}
          <a (click)="('assigned')">
            <span class="fa fa-fw fa-sort"></span>
          </a>
        </th>
        <th class="table-size-small">
          <i class=" fa fa-edit"></i>
            {{'state' | capitalize}}
          <a (click)="('state')">
            <span class="fa fa-fw fa-sort"></span>
          </a>
        </th>
        <th class="table-size-small">
          <i class=" fa fa-edit"></i>
            {{'discussed' | capitalize}}
        </th>
      </tr>
      </thead>
    <tbody>
      <tr *ngFor="let item of resData">
        <td>
          <a class="ticket_first-row-data"
             (click)="subTicketNavigation(item.ticketId)">
            {{item.name | capitalize}}
          </a>
        </td>
        <td class="table-text-align" >
          {{item.user.firstName | capitalize}}
          {{item.user.lastName | capitalize}}
        </td>
        <td class="table-text-align" >
          {{item.time | date:'mediumDate'}}
        </td>
        <td class="table-text-align" >
          {{item.assigned.firstName | capitalize}}
          {{item.assigned.lastName | capitalize}}
        </td>
        <td class="table-text-align" >
          <div *ngIf=" item.state == 'NEW' || item.state == '0'">
            <span class="label btn-round label-info "
                  list="assign">{{ 'New' }}
            </span>
          </div>
          <div *ngIf=" item.state == '1' || item.state == 'IN_PROGRESS'">
            <span class="label btn-round label-success">{{ 'In Progress' }}</span>
          </div>
          <div *ngIf=" item.state == '2' || item.state == 'DONE'">
            <span class="label btn-round label-danger">{{ 'Done' }}</span>
          </div>
        </td>
        <td class="table-text-align">
          <div *ngIf="item.discussed == null">
            {{ 'no' | capitalize}}
          </div>
          <div *ngIf="item.discussed != null">
            {{ 'yes' | capitalize}}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="container-fluid">
  <div class="row ticket_footer-btn-group">
    <div class="col-sm-2
                ticket_span-group">
      <span class="label
                   btn-round
                   label-danger
                   ticket_span-btn-group"
            (click)="findTicketByState('DONE')">{{'done' | capitalize}}</span>
      <span class="label
                   btn-round
                   label-success
                   ticket_span-btn-group"
            (click)="findTicketByState('IN_PROGRESS')">{{ 'in Progress' | capitalize}}</span>
      <span class="label
                   btn-round
                   label-info
                   ticket_span-btn-group"
            (click)="findTicketByState('NEW')">{{'new' | capitalize}}</span>
    </div>
    <div class="btn-group
                pull-right
                ticket_btn-find-group"
         role="group"
         aria-label="...">
      <button type="button"
              (click)="getTicketsByPageNum()"
              class="btn btn-default">
        All
      </button>
      <button type="button"
              (click)="findMyTickets()"
              class="btn btn-default">
        Tickets
      </button>
      <button type="button"
              (click)="findMyAssigned()"
              class="btn btn-default">
        Assign
      </button>
    </div>
  </div>
  </div>
</div>



